<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913201017087-a5drhbg3h5ovi6ejll4sffk8hvhs2j24.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913201017087-a5drhbg3h5ovi6ejll4sffk8hvhs2j24</string>
	<key>API_KEY</key>
	<string>AIzaSyChNXxKjg6Lsuwnvfqk8l84M8QG4giQDyc</string>
	<key>GCM_SENDER_ID</key>
	<string>913201017087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fandi.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-1cfb0</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-1cfb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913201017087:ios:5788d9f54712bcb8575cca</string>
	<key>DATABASE_URL</key>
	<string>https://twitterclone-1cfb0.firebaseio.com</string>
</dict>
</plist>